<ul class="nav-items">
  {{# each site.links }}
    {{# is showInHeader false }} {{ else }}
      <li {{# isActiveNav dest=../../page.dest }}class="selected"{{/ isActiveNav }}>
        <a href="{{ ../uri }}">{{ name }}</a>
      </li>
    {{/ is }}
  {{/ each }}
</ul>
