/** boxes **/
.stache-boxes {
    overflow: hidden;

    .media {
        > .media-left {}
    }

    > ul {
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
}