/*
* ==========================================================================
* COMMENTS
* ==========================================================================
*/

  .contribute {
    background: $bb-brand-alternate;
    color: #FFF;
    padding: $section-padding;
  }

  .contribute a {
    color: $bb-brand-alternate-lighter;
  }

  .contribute a:hover,
  .contribute a:focus {
    color: $bb-brand-alternate-light;
  }

  .contribute p.lead a {
    color: lighten($bb-color-yellow, 25%);
  }

  .contribute p.lead a:hover,
  .contribute p.lead a:focus {
    color: lighten($bb-color-yellow, 10%);
  }

  .contribute p.lead {
    margin-bottom: 5px;
  }

  .comments {
    padding: $section-padding;
  }
