/*
* ==========================================================================
* FEEDBACK
* ==========================================================================
*/

  .feedback {
    background: #FFF;
  }

  .feedback-content {
    background: url(../img/octocat-small.png) no-repeat left 50px;
    border-top: solid 1px #EFEFEF;
    margin: 50px 0;
    padding: 50px 0 0 80px;
  }

  .feedback-content h3 {
    margin-top: 0;
  }
