@import "blackbaud-skyux/scss/_variables";

/*
* ==========================================================================
* BBSKY CHAR
* ==========================================================================
*/

.bbsky-char::before {
  font-family: 'BBSKY';
  font-size: 24px;
  font-style: normal;
}

.bbsky-char-re::before {
  content: $bbsky-char-re;
}

.bbsky-char-nxt::before {
  content: $bbsky-char-nxt;
}

.bbsky-char-logo::before {
  content: "\e63A";
}

.octicon-logo-github {
  font-size: 18px;
  margin-top: 5px;
}
