/* 
* ==========================================================================
* FOOTER - SITE
* ========================================================================== 
*/

  .footer-site {
    background: $footer-bg;
    color: #787D87;
    font-size: 13px;
    padding: $section-padding;
  }

  .footer-site a {
    color: #949AA6;
  }

  .footer-site a:hover,
  .footer-site a:focus {
    color: #1ab394;
    text-decoration: none;
  }

  .bb-love,
  .social-icons {
    padding: 20px 0 0 0;
  }

  .bb-love li {
    vertical-align: middle;
    margin-left: 0;
    padding: 0 10px 10px 0;
  }

  .bb-love .fa-heart {
    color: #7F0000;
  }

  .bb-love a img {
    opacity: .7;
  }

  .bb-love a:hover img,
  .bb-love a:focus img {
    opacity: 1;
  }

  .social-icons a {
    font-size: 26px;
    margin: 0 5px;
  }
  
  .bb-love,
  .social-icons {
    text-align: right;
  }
