@import "bootstrap-sass/assets/stylesheets/bootstrap/_mixins";

/*
* ==========================================================================
* GENERIC
* ==========================================================================
*/

.full-height-width {
  height: 100%;
  width: 100%;
}

body {
  background: #FFF;
  position: relative;
}

hr.small {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.text-primary {
  color: $bb-brand-alternate;
}

.bg-primary {
  background: $bb-brand-alternate;
  color: #FFF;
}

.bg-secondary {
  background: #e9f4fc;
}

.btn-fa-link {
  color: #FFF;
}

.btn-fa-link:hover,
.btn-fa-link:focus {
  color: #EFEFEF;
}

.content {
  background: #FFF;
  padding-bottom: $section-padding;
}

.content img,
.zone-content img {
  max-width: 100%;
  height: auto;
}

.content,
.content-min-height {
  min-height: 400px;
}

.header-with-button {
  @include clearfix();
}

.header-with-button h1,
.header-with-button h2,
.header-with-button h3 {
  float: left;
}

.header-with-button a,
.header-with-button button {
  float: right;
  margin-top: 35px;
}

.alert {
  margin-top: 18px;
}

.post-footer {
  margin-top: 40px;
}

.section-padding {
  padding: $section-padding;
}

.section-padding h2 {
  padding: 20px 0;
}

.tab-content {
  margin-top: 20px;
}

.nav-wrap {
  margin-bottom: 0;
}

.draft {
  position: relative;
}

div.draft {
  background: #f5f5f5;
  border: solid 1px #CCC;
  padding: 10px;
  margin-top: 60px;
}

.draft:after {
  color: #880000;
  content: 'draft';
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  left: -10px;
  position: absolute;
  top:  0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

li.draft:after {
  background: #FFF;
  font-size: 10px;
}

div.draft h2,
div.draft h3 {
  padding-top: 0;
  margin-top: 0;
}

.highlighted {
  font-weight: bold;
}

.product {
  font-weight: bold;
  font-style: italic;
}

.show-second {
  display: none;
}

// Stop double 1px border
.bb-navbar.ng-scope {
  border-bottom: 0;
}

pre.has-copy-code {
  position: relative;
}

.copy-code {
  border-bottom-left-radius: 4px;
  background: #FFF;
  display: block;
  padding: 2px 5px;
  position: absolute;
  right: 1px;
  top: 1px;
}

.copy-code.zeroclipboard-is-hover {
  color: #34b1ec;
  cursor: pointer;
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #FFF;
  background: #1c84c6;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 2em;
  display: none;
}

.back-to-top:hover,
.back-to-top:focus {
  background: #1a7bb9;
  cursor: pointer;
}
