@import "bootstrap-sass/assets/stylesheets/bootstrap/_variables";

/*
* ==========================================================================
* MOBILE
* ==========================================================================
*/

@media (max-width: $screen-sm-max) {

  .nav-sidebar {
    position: relative !important;
    top: 10px !important;
  }

  .visible-on-affix {
    display: none !important;
  }
}
