/*
* ==========================================================================
* I know we're not supposed to do this, but I absolutely hated seeing the page jump down when the omnibar finally loads.
* I'm risking setting that height here.  Worst case is you would see the page jump slightly if they ever change the height of the omnibar.
* ==========================================================================
*/

// Necessary since we want this menu regardless of being logged in.
// Also has to be more specific in order to override async omnibar css.
.bb-omnibar.bb-omnibar-signedout .bb-omnibar-mobile-menuheader {
  display: block;
}

.bb-omnibar-height-padding {
  padding-top: $omnibar-height;
}

#omnibar-link {
  color: #888;
}
