/*
* ==========================================================================
* SIDEBAR
* ==========================================================================
*/

  .sidebar {
    margin-top: 20px;
  }

  .nav-sidebar.affix {
    top: 50px;
    z-index: 1;
  }

  .nav-sidebar.affix-bottom {
    position: absolute;
  }

  .visible-on-affix {
    background: none !important;
    border: none !important;
  }

  .visible-on-affix a {
    background: none !important;
    color: #a7b1c2 !important;
  }

  .visible-on-affix a:focus,
  .visible-on-affix a:hover {
    color: #777 !important;
  }

  .nav-sidebar .visible-on-affix {
    opacity: 0;
    transition: opacity .4s;
    visibility: hidden;
  }

  .nav-sidebar.affix .visible-on-affix,
  .nav-sidebar.affix-bottom .visible-on-affix {
    opacity: 1;
    visibility: visible;
  }

  .nav-sidebar.nav li a {
    color: #8c8f90;
    border-left: transparent solid 5px;
    margin: 10px 5px;
    padding: 0 5px;
  }

  .nav-sidebar.nav li a:hover,
  .nav-sidebar.nav li a:focus {
    background: none;
  }

  .nav-sidebar.nav > li.active,
  .nav-sidebar .nav > li.active {
    background: none;
    border: none;
  }

  .nav-sidebar.nav li.active > a {
    border-left-color: $blue;
    font-weight: bold;
  }

  .nav-sidebar.nav li.current li a {
    font-weight: normal;
  }

  .nav-sidebar.nav li ul {
    margin-left: 15px;
  }


  /*

  .nav-sidebar > li.current li {
    border-left: 4px solid #293846;
  }

  .nav-sidebar li.current,
  .nav-sidebar li.current li.active {
    border-left: 4px solid #19aa8d;
    background: #293846;
  }

  .nav-sidebar li.current > a {
    color: white;
  }

  .nav-sidebar > li > a,
  .nav-sidebar .nav > li > a {
    padding: 6px 5px 9px 16px;
  }

  .nav-sidebar > li > a:hover,
  .nav-sidebar > li > a:focus {
    text-decoration: none;
    background-color: #cccccc;
    color: #293846 !important;
  }

  .nav-sidebar .title {
    border-bottom: solid 1px #EFEFEF;
  }
  */
