/*
* ==========================================================================
* SIDEBAR
* ==========================================================================
*/

  .sidebar {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-top: 20px;
  }

  .nav-sidebar.affix {
    top: 50px;
    z-index: 1;
  }

  .nav-sidebar.affix-bottom {
    position: absolute;
  }

  .visible-on-affix {
    background: none !important;
    border: none !important;
  }

  .visible-on-affix a {
    background: none !important;
    color: #a7b1c2 !important;
  }

  .visible-on-affix a:focus,
  .visible-on-affix a:hover {
    color: #777 !important;
  }

  .nav-sidebar .visible-on-affix {
    opacity: 0;
    transition: opacity .4s;
    visibility: hidden;
  }

  .nav-sidebar.affix .visible-on-affix,
  .nav-sidebar.affix-bottom .visible-on-affix {
    opacity: 1;
    visibility: visible;
  }

  .nav-sidebar.nav li a {
    color: #8c8f90;
    border-left: transparent solid 5px;
    margin: 10px 5px;
    padding: 0 5px;
    @include word-wrap();
  }

  .nav-sidebar.nav li a:hover,
  .nav-sidebar.nav li a:focus {
    background: none;
    color: $bb-nav-bg-color;
  }

  .nav-sidebar.nav > li.active,
  .nav-sidebar .nav > li.active {
    background: none;
    border: none;
  }

  .nav-sidebar.nav li.active > a {
    border-left-color: $bb-color-blue;
    font-weight: bold;
  }

  .nav-sidebar.nav li.current li a {
    font-weight: normal;
  }

  .nav-sidebar.nav li ul {
    margin-left: 15px;
  }

  .nav-sidebar.nav li.parent a {
    border-left: 0;
    margin-left: 0;
  }

  .nav-sidebar.nav li.parent-current {
    border-top: solid 1px #EFEFEF;
  }
