/*
* ==========================================================================
* SIDEBAR
* ==========================================================================
*/

  .sidebar {
    font-size: $font-size-base;
    line-height: $line-height-base;
    padding-top: 20px;

    .nav-sidebar {
      width: 100%;

      &.affix {
        z-index: 1;
      }

      &.affix-bottom {
        position: absolute;
      }

      &.nav {

        li {

          &.active > a {
            border-left-color: $bb-color-blue;
          }

          &.current > a {
            font-weight: bold
          }

          &.parent a {
            border-left: 0;
            margin-left: 0;
          }

          &.parent-current {
            border-top: solid 1px #EFEFEF;
          }

          a {
            color: #8c8f90;
            border-left: transparent solid 5px;
            margin: 0 0 10px 5px;
            padding: 0 5px;
            @include word-wrap();

            &:hover,
            &:focus {
              background: none;
              color: $bb-nav-bg-color;
            }
          }

          ul {
            margin-left: 15px;
          }
        }
      }

      &.nav,
      .nav {

        li.active {
          background: none;
          border: none;
        }
      }
    }
  }

  .visible-on-affix {
    background: none !important;
    border: none !important;

    a {
      background: none !important;
      color: #a7b1c2 !important;

      &:focus,
      &:hover {
        color: #777 !important;
      }
    }

    .nav-sidebar & {
      opacity: 0;
      transition: opacity .4s;
      visibility: hidden;
    }
    .nav-sidebar.affix &,
    .nav-sidebar.affix-bottom & {
      opacity: 1;
      visibility: visible;
    }
  }
