/*
* ==========================================================================
* VARIABLE DECLARATION
* ==========================================================================
*/

// Set Bootstrap + FontAwesome fonts
$icon-font-path: "fonts/";
$fa-font-path: $icon-font-path;
$sky-icon-font-path: $icon-font-path;
$octicons-font-path: $icon-font-path;

// Undo some Bootstrap variables
$grid-gutter-width: 30px;
$screen-lg: 1200px;
$section-padding: 50px 0;

// Needed for azure footer parent
$footer-bg: #f3f3f4;
