/*
* ==========================================================================
* SKY UI
* ==========================================================================
*/

@import "blackbaud-skyux/scss/_variables.scss";
@import "blackbaud-skyux/scss/_mixins.scss";
@import "_variables.scss";

// Temporary Fixes
// https://github.com/blackbaud/skyux/issues/13
.text-primary {
  color: inherit;
}

.text-success {
  color: #1c84c6;
}

.text-info {
  color: #23c6c8
}

.text-warning {
  color: #f8ac59
}

.text-danger {
  color: #ed5565
}

/*
* ==========================================================================
* DOCUMENTATION
* ==========================================================================
*/

@import "_omnibar";
@import "_generic";
@import "_fonts";
@import "_admin-toolbar";
@import "_sidebar";
@import "_pages";
@import "_feedback";
@import "_comments";
@import "_notes";
@import "_footer";
@import "_copyright";
@import "_video";
@import "_mobile";
@import "_octicons";
@import "_prism";
