@import "app";

/*
* ==========================================================================
* AZURE UNIQUE - Styles unique, solely for APIM (ATM)
* ==========================================================================
*/

#account-menu,
#pattern,
.ap-ininput-button,
.ap-account-applications {
  display: none;
}

#ap-container {
  max-width: none;
}

.zone-header {
  display: none;
}

.zone-content h2 {
  padding-top: 0;
}

.zone-footer {
  background: $footer-bg;
  padding: 0;
}

.navbar-collapse {
  padding: 0;
}

.tab-content {
  margin-top: 0;
}

.snippet.snippet-resizable {
  height: auto;
}

/*
* ==========================================================================
* AZURE BRIDGE - Styles that exists but need new selectors
* ==========================================================================
*/

.navbar-collapse,
.layout-row-content .layout,
.zone-footer .footer-site {
    margin: 0 auto;
}

// Mirrors Sky/Bootstrap/_grid.scss
.navbar-collapse,
.layout-row-content .layout,
.zone-footer .footer-site {

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.navbar {
  border: 0;
  border-radius: 0;
  min-height: 0;
}

.navbar-default {
  background-color: #2f4050;
}

#navigation .nav > li {
  padding-right: 4px;
}

#navigation .navbar-nav > li > a {
  color: #a7b1c2;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  text-transform: none;
}

#navigation .navbar-nav > li > a:hover,
#navigation .navbar-nav > li > a:focus,
#navigation .navbar-nav > li.active > a {
  background-color: #293846;
  border-bottom: solid $bb-nav-selected-border-width $bb-color-blue;
  color: #FFF !important;
  padding-bottom: 11px;
}

.zone-aside-first {
  background: #FFF;
}

.zone-aside-first .zone-pills li {
  margin: 0;
}

.zone-aside-first .nav-pills li a {
  color: #8c8f90;
  border-left: transparent solid 5px;
  border-radius: 0;
  display: block;
  font-weight: 600;
  font-size: 13px;
  margin: 10px 5px;
  padding: 0 5px;
}

.zone-aside-first .nav-pills li.active a,
.zone-aside-first .nav-pills li.acitve a:hover,
.zone-aside-first .nav-pills li.active a:focus {
  background: none;
  border-left-color: $bb-color-blue;
  color: #8c8f90;
  font-weight: 700;
}

.zone-aside-first .navbar-nav li a:hover,
.zone-aside-first .navbar-nav li a:focus,
.zone-aside-first .navbar-nav li.active a:hover,
.zone-aside-first .navbar-nav li.active a:focus,
.zone-aside-first .nav > li > a:hover,
.zone-aside-first .nav > li > a:focus {
  background: none;
  color: #8c8f90;
}

/*
* ==========================================================================
* AZURE OVERRIDES - Straight up foolin Azure
* ==========================================================================
*/

.navbar-default .navbar-nav > .open > a,
.zone-navigation .nav > li.active,
.zone-aside-first .nav > li.active {
  border: 0;
  background: none;
}

.showcase {
  padding-top: 60px;
}

.zone-aside-first .badge-default,
.zone-aside-first .badge-success,
.zone-aside-first .badge-warning,
.zone-aside-first .badge-danger,
.zone-aside-first .badge-info {
  color: #FFF !important;
  min-width: 55px;
}

.zone-aside-first .badge-default {
  background-color: #d1dade !important;
}

.zone-aside-first .badge-success {
  background-color: #5cb85c !important;
}

.zone-aside-first .badge-warning {
  background-color: #f0ad4e !important;
}

.zone-aside-first .badge-danger {
  background-color: #d9534f !important;
}

.zone-aside-first .badge-info {
  background-color: #5bc0de !important;
}

.copyright .col-sm-6 {
  padding: 0;
}
