---
layout: meat
---

<h3>Welcome</h3>

<p>I can never remember the link for <a href="{{ 'Trip/startbootstrap-stylish/' | prepend: site.baseurl }}">Trip's Bootstrap Prototype</a>.</p>

<h3>Sitemap Generated</h3>

<ul>
{% for item in site.links %}
  <li>
    <a href="{{ item.url }}">{{ item.name }}</a>
    {% if item.links %}
      <ul>
        {% for item in item.links %}
          <li>
            <a href="{{ item.url }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>