{% if page.categories.size > 0 %}
  {% assign category_current = page.categories | last %}
{% else %}
  {% assign category_current = page.dir | split: '/' | last %}
{% endif %}

<li class="title">
  <a href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a>
</li>

{% for category in site.categories %}
  {% if category[0] != 'blog' %}
    <li {% if category[0] == category_current %} class="current" {% endif %}>
      <a href="{{ site.baseurl }}/blog/{{ category[0] }}">{{ category[0] | capitalize }}</a>
    </li>
  {% endif %}
{% endfor %}