{% assign index = include.note | slugify %}

{% if include.priority %}
  {% case include.priority %}
    {% when 'low' %}
      {% assign label = 'info' %}
    {% when 'medium' %}
      {% assign label = 'warning' %}
    {% when 'high' %}
      {% assign label = 'danger' %}
  {% endcase %}
{% endif %}

<div class="modal fade" id="modal-notes-{{ index }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          {% if include.isPageNote %}
            Page Note
          {% else %}
            Content Note 
          {% endif %}
          {% if page.priority %} 
            <span class="label label-{{ label}}">Priority: {{ include.priority | upcase }}</span>
          {% endif %}
        </h4>
      </div>
      <div class="modal-body">  
        <p>{{ include.note | newline_to_br }}</p>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn {% if include.isPageNote %} btn-primary btn-notes {% else %} btn-default btn-xs pull-right {% endif %}" data-toggle="modal" data-target="#modal-notes-{{ index }}">
  <i class="fa fa-info-circle"></i>
</button>