<td class="text-center">
  {% capture key %}{{ 'now' | date: '%Y' }}/{{ 'now' | date: '%m' }}/{{ 'now' | date: '%d' | minus: i }}{% endcapture %}
  {% if site.data.status[include.api][key] %}
    {% assign event = site.data.status[include.api][key] %}
    {% case event.status %}
      {% when "high" %}
        {% assign label = "danger" %}
        {% assign icon = "times-circle" %}
      {% when "medium" %}
        {% assign label = "warning" %}
        {% assign icon = "exclamation-triangle" %}
      {% when "low" %}
        {% assign label = "info" %}
        {% assign icon = "info-circle" %}
    {% endcase %}
    <a href="{{ event.blog | prepend: site.baseurl }}" data-toggle="tooltip" title="{{ event.message }}"><i class="fa fa-{{ icon }} text-{{ label }}"></i></a>
  {% else %}
    <i class="fa fa-check-circle text-success"></i>
  {% endif %}
</td>