/* 
* ==========================================================================
* BBSKY CHAR
* ========================================================================== 
*/

  // Google Fonts
  @import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amplang=en");

  @font-face {
    font-family: 'BBSKY-OMNIBAR';
    src: url('../fonts/BBSKY.woff') format('woff');
  }

  .bbsky-char::before {
    font-family: 'BBSKY-OMNIBAR';
    font-size: 24px;
  }

  .bbsky-char-re::before {
    content: $bbsky-char-re;
  }

  .bbsky-char-nxt::before {
    content: $bbsky-char-nxt;
  }