/* 
* ==========================================================================
* GENERIC
* ========================================================================== 
*/

  .full-height-width {
    height: 100%;
    width: 100%;
  }

  body {
    background: #FFF;
    position: relative;
  }

  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    padding-top: 40px;
  }

  hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  hr.small {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-primary {
    color: $brand-alternate;;
  }

  .bg-primary {
    background: $brand-alternate;
    color: #FFF;
  }

  .bg-secondary {
    background: $blue-light;
  }

  .btn-fa-link {
    color: #FFF;
  }

  .btn-fa-link:hover,
  .btn-fa-link:focus {
    color: #EFEFEF;
  }

  .content img {
    max-width: 100%;
    height: auto;
  }

  .header-with-button a,
  .header-with-button button {
    margin-top: 35px;
  }

  .alert {
    margin-top: 18px;
  }

  .post-footer {
    margin-top: 40px;
  }

  .section-padding {
    padding: $section-padding;
  }

  .section-padding h2 {
    padding: 20px 0;
  }

  .table thead tr th {
    background-color: darken($navy, 2%);
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    color: #FFF;
  }