/* 
* ==========================================================================
* SIDEBAR
* ========================================================================== 
*/

  .nav-sidebar.affix {
    top: 50px;
    z-index: 1;
  }

  .nav-sidebar.affix-bottom {
    position: absolute;
  }

  .nav > li.current li {
    border-left: 4px solid $nav-bg;
  }

  .nav > li.current,
  .nav > li.current li.active {
    border-left: 4px solid $blue;
    background: $nav-bg;
  }

  .nav > li.current > a {
    color: white;
  }

  .nav-sidebar .visible-on-affix {
    opacity: 0;
    transition: opacity .4s;
    visibility: hidden;
  }

  .nav-sidebar.affix .visible-on-affix,
  .nav-sidebar.affix-bottom .visible-on-affix {
    opacity: 1;
    visibility: visible;
  }

  .visible-on-affix {
    background: none !important;
    border: none !important;
  }

  .visible-on-affix a {
    background: none !important;
    color: #a7b1c2 !important;
  }

  .visible-on-affix a:focus,
  .visible-on-affix a:hover {
    color: #777 !important;
  }

  .nav > li > a {
    padding: 6px 5px 9px 16px;
  }

  .nav > li > a:hover, 
  .nav > li > a:focus {
    text-decoration: none;
    background-color: #cccccc;
    color: $nav-bg !important;
  }

  .nav-sidebar .title {
    border-bottom: solid 1px #EFEFEF;
  }