/* 
* ==========================================================================
* NOTES
* ========================================================================== 
*/

  p.note {
    display: none;
  }

  .btn-notes {
    bottom: 5px;
    position: fixed;
    right: 5px;
  }

  .btn-notes .fa {
    font-size: 16px;
  }

  .btn-notes-inline {
    margin: 0 0 10px 10px;
  }

  .btn-xs > .fa {
    font-size: 14px;
    top: 1px;
    position: relative;
  }
