---
layout: container
---

<h1>Resources</h1>
<p>This is an example of a 'Showcase' page that groups similar concepts together.  The data that drives this page resides within the stache.yml sitemap section. </p>

<div class="resources">
  {{# eachChildLink mod=3 }}

    {{# if firstOrMod0 }}
      <div class="row {{# unless first }}resources-more{{/ unless }}">
    {{/ if }}

    <div class="col-sm-4">
      <div class="{{# if draft }}draft{{/ if }}">
        <i class="fa {{ icon }}"></i>
        <div class="desc">
          <h2>
            <a href="{{ uri }}">{{ name }}</a>
          </h2>
          <p>{{ description }}</p>
        </div>
      </div>
    </div>

    {{# if lastOrMod1 }}
      </div>
    {{/ if }}

  {{/ eachChildLink }}
</div>
