<h1>Search</h1>

<div class="input-group input-group-lg">
  <input type="text" class="form-control input-lg" placeholder="What can I help you find?" ng-model="query2" stache-enter="search(query2)">
  <span class="input-group-btn">
    <button class="btn btn-default btn-lg" type="submit" ng-click="search(query2)">Search</button>
  </span>
</div>

<div ng-show="query">
  <h2>Search Results for {{query}}</h2>
  
  <p ng-hide="results.length">Unable to locate any results.</p>
  <p ng-show="error">{{::error}}</p>
  
  <ul class="list-unstyled" ng-show="results">
    <li ng-repeat="result in results | orderBy:'-weight'">
      <h3><a href="{{result.uri}}">{{::result.name}}</a></h3>
      <p ng-bind-html="result.match | limitTo: 500 | highlight:query"></p>        
      <hr />
    </li>
  </ul>
  
</div>