<h1>Search</h1>

<div class="input-group input-group-lg">
  <input type="text" class="form-control input-lg" placeholder="What can I help you find?" ng-model="searchController.query" stache-enter="searchController.search()">
  <span class="input-group-btn">
    <button class="btn btn-default btn-lg" type="submit" ng-click="searchController.search()">Search</button>
  </span>
</div>

<div ng-show="searchController.sent.query">
  <h2>Search Results for {{ searchController.sent.query }}</h2>

  <p ng-hide="searchController.sent.results.length">Unable to locate any results.</p>
  <p ng-show="error">{{ searchController.sent.error }}</p>

  <ul class="list-unstyled" ng-show="searchController.sent.results">
    <li ng-repeat="result in searchController.sent.results | orderBy:'-weight'">
      <h3><a href="{{ result.uri }}">{{ result.name }}</a></h3>
      <p ng-bind-html="result.match | limitTo: 500 | highlight:searchController.sent.query"></p>
      <hr />
    </li>
  </ul>

</div>
