---
---

  // Undoing a few things defined in _bootstrap-variable-defaults.scss
  // I had to add '!default' to all the variables in _bootstrap-variable-defaults.scss to make this work.
  @import "_variables";
  @import "Sky/_variables";
  @import "Sky/Bootstrap/_variables";

  @import "_omnibar";
  @import "_fonts";
  @import "_generic";
  @import "_pages";
  @import "_footer";

/* 
* ==========================================================================
* GLOBAL
* ========================================================================== 
*/
  html, 
  form, 
  body { 
    font-size: 13px; 
    font-family: $font-family-sans-serif;
  }

  body {
    background: #FFF;
    color: #676a6c;
    font-family: $font-family-sans-serif;
  }

  h1, 
  h2, 
  h3,
  h4,
  h5,
  h6,
  .h1, 
  .h2, 
  .h3,
  .h4,
  .h5,
  .h6 { 
    font-family: $font-family-sans-serif;
    font-weight: 100;
  }

  h1 { 
    font-size: 30px; 
  }

  h2 { 
    font-size: 24px; 
  }

  h3 { 
    font-size: 16px; 
  }

  h4 { 
    font-size: 14px; 
  }

  h5 { 
    font-size: 12px; 
  }

  h6 { 
    font-size: 10px; 
  }

  h3, 
  h4, 
  h5 { 
    font-weight: 600; 
    margin-top: 5px; 
  }

  .zone-content a { 
    color: #0088cc;
  }

  .zone-content a:hover, 
  .zone-content a:focus { 
    color: #005580;
    text-decoration: none; 
  }  

  #ap-container {
    max-width: none;
  }

  .zone-header {
    display: none;
  }

  .zone-footer {
    background: $footer-bg;
  }

  .navbar-collapse {
    padding: 0;
  }

/* 
* ==========================================================================
* LAYOUT
* ========================================================================== 
*/

  .navbar-collapse,
  .layout-row-content .layout,
  .zone-footer footer {
      margin: 0 auto;
  }

  // Mirrors Sky/Bootstrap/_grid.scss
  .navbar-collapse,
  .layout-row-content .layout,
  .zone-footer footer { 

    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg;
    }
  }

/* 
* ==========================================================================
* NAVIGATION
* ========================================================================== 
*/
  .navbar {
    border: 0;
    min-height: 0;
  }

  .navbar-default {
    background-color: #2f4050;
  }

  #navigation .nav > li {
    padding-right: 4px;
  }

  #navigation .navbar-nav > li > a {
    color: #a7b1c2;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    text-transform: none;
  }

  #navigation .navbar-nav > li > a:hover,
  #navigation .navbar-nav > li > a:focus,
  #navigation .navbar-nav > li.active > a {
    background-color: #293846;
    border-bottom: solid 4px #1ab394;
    color: #FFF !important;
    padding-bottom: 11px;    
  }

  .zone-aside-first {
    background: #FFF;
  }

  .zone-aside-first .navbar-nav,
  .zone-aside-first .navbar-nav li {
    float: none;
  }

  .zone-aside-first .nav-pills {
    border-top: solid 1px #EFEFEF;
    margin-top: 10px;
    padding-top: 10px;
  }

  .zone-aside-first .navbar-nav li a,
  .zone-aside-first .nav-pills li a {
    color: #a7b1c2;
    display: block;
    font-weight: 600;
    font-size: 13px;
    padding: 6px 5px 9px 16px;
  }

  .zone-aside-first .navbar-nav li.active a,
  .zone-aside-first .nav-pills li.active a {
    background: #293846;
    border-left: 4px solid #19aa8d;
  }

  .zone-aside-first .navbar-nav li a:hover,
  .zone-aside-first .navbar-nav li a:focus,
  .zone-aside-first .navbar-nav li.active a:hover,
  .zone-aside-first .navbar-nav li.active a:focus,
  .zone-aside-first .nav-pills li.active a:hover,
  .zone-aside-first .nav-pills li.active a:focus {
    background: #cccccc;
    color: #293846;
  }
