/*
body {
  background: #f3f3f4;
}

.nav-wrap {
  background: #2f4050;
  padding: 15px 10px;
}

.nav-wrap ul {
  margin: 0;
  padding: 0;
}

.nav-items {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #A7B1C2;
}

.nav-items li {
  cursor: pointer;
  display: inline;
  list-style: none;
  font-size: 14px;
  white-space: nowrap;
}

.nav-items li a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 15px;
  text-decoration: none;
}

.nav-items li:hover a,
.nav-items li.selected a {
  background-color: #293846;
  border-bottom: solid 4px #1AB394;
  color: #FFF;
  padding-bottom: 11px;
}

.ibox-content {
  background-color: #FFF;
  color: inherit;
  border-top: solid 1px #E7EAEC;
  padding: 0 10px 10px 10px;
}
*/

/*
I know we're not supposed to do this, but I absolutely hated seeing the page jump down when the omnibar finally loads.
I'm risking setting that height here.  Worst case is you would see the page jump slightly if they ever change the height of the omnibar.
*/
.bb-omnibar-height-padding {
  padding-top: 50px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #FFF;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff;
  background-color: rgba(0,0,0,0.7);
}

.btn-light {
  border-radius: 0;
  color: #333;
  background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #333;
  background-color: rgba(255,255,255,0.8);
}

hr.small {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/bridge-sunset.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.about,
.services {
  padding: 50px 0;
}

.about h2 {
  color: rgb(51, 51, 51);
  font-size: 30px;
  font-weight: 500;
  line-height: 33px;
  margin: 20px 0 10px 0;
}

.service-item {
  margin-bottom: 30px;
}

.feedback {
  background: #FFF;
}

.feedback-content {
  background: url(../img/octocat-small.png) no-repeat left 50px;
  border-top: solid 1px #EFEFEF;
  margin: 50px 0;
  padding: 50px 0 0 80px;
}

.text-vertical-center h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.text-vertical-center h2 {
  padding: 5px 0 30px 0;
}

.feedback-content h3 {
  margin-top: 0;
}

.comments {
  padding: 50px 0;
}

.btn-notes {
  bottom: 5px;
  position: fixed;
  right: 5px;
}

.text-primary {
  color: #337ab7;
}

.bg-primary {
  background: #337ab7;
  color: #FFF;
}