---
# In order to paginator to work, this file must be .html.
showHeadings: false
---

<div class="header-with-button">
  <a href="{{ '/blog.xml' | prepend: site.baseurl }}" class="btn btn-white pull-right"><i class="fa fa-rss-square"></i> Subscribe to the RSS Feed</a>
  <h1 class="pull-left">Blog</h1>
</div>

<div class="clearfix"></div>

<p class="alert alert-warning">This is "option 1."  "Option 2" would be to use <a href="http://blackbaud.smallworldlabs.com/groups/blogs/30" target="_blank" class="alert-link">Small World Labs - Blogs</a>.</p>


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h2>
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>  
  {% include posts-meta.html post=post %}
  <p>{{ post.excerpt }}</p>

{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="post-footer text-center">
    <ul class="pagination">
      {% if paginator.previous_page %}
        <li>
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">&laquo;</a>
        </li>
      {% else %}
        <li class="disabled">
          <span>&laquo;</span>
        </li>
      {% endif %}
      
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active">
            <span>{{ page }}</span>
          </li>
        {% elsif page == 1 %}
          <li>
            <a href="{{ '/resources/blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
          </li>
        {% else %}
          <li>
            <a href="{{ site.paginate_path | prepend: '/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}
      
      {% if paginator.next_page %}
        <li>
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">&raquo;</a>
        </li>
      {% else %}
        <li class="disabled">
          <span>&raquo;</span>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}