{{# if lastInRowPhone }}<li class="clearfix visible-xs"></li>{{/ if }}
{{# if lastInRowTablet }}<li class="clearfix visible-sm"></li>{{/ if }}
{{# if lastInRowDesktop }}<li class="clearfix visible-md"></li>{{/ if }}
{{# if lastInRowLargeDesktop }}<li class="clearfix visible-lg"></li>{{/ if }}