{{# inherit stache.config.showAdminToolbar showAdminToolbar }}
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="#admin-toolbar-wrapper" class="admin-toolbar-toggle" data-toggle="collapse">
        <i class="fa fa-cogs"></i>
      </a>
    </li>
  </ul>
{{/ inherit }}
