<ul class="list-unstyled">
  {{# withNavLinks }}
    {{# is showInFooter false }} {{ else }}
      <li {{# isActiveNav }}class="bb-navbar-active"{{/ isActiveNav }}>
        <a href="{{ ../uri }}">{{ name }}</a>
      </li>
    {{/ is }}
  {{/ withNavLinks }}
</ul>
