<ul class="list-inline social-icons">
  <li>
    <a href="{{ stache.config.github_base }}" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/113382459921828617974" target="_blank">
      <i class="fa fa-google-plus"></i>
    </a>
  </li>
  <li>
    <a href="http://twitter.com/blackbaud" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/blackbaud" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
  <li>
    <a href="http://www.youtube.com/user/blackbaudinc" target="_blank">
      <i class="fa fa-youtube"></i>
    </a>
  </li>
</ul>
