{{# inherit stache.config.showAdminEdit showAdminEdit }}
  <ul class="nav navbar-nav navbar-right">   
    {{# inherit stache.config.editInGitHub editInGitHub }}
      <li>{{{ include stache.config.partial_edit_github }}}</li>
    {{/ inherit }}
  </ul>
{{/ inherit }}
{{# inherit stache.config.showAdminToolbar showAdminToolbar }}
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="#admin-toolbar-wrapper" class="admin-toolbar-toggle" data-toggle="collapse">
        <i class="fa fa-cogs"></i>
      </a>
    </li>
  </ul>
{{/ inherit }}
