<section class="contribute">
  <div class="container">
    <div class="row">
      <div class="col-sm-11">
        <a href="{{ editInGitHubLink }}" class="pull-right" target="_blank">
          <i class="fa fa-4x fa-github"></i>
        </a>
        <p class="lead">
          <a href="{{ editInGitHubLink }}" target="_blank">
            <i class="fa fa-pencil"></i> Contribute to this documentation
          </a>
        </p>
        <p>We're serious about our documentation.  We want it to be accurate and as beneficial to you as possible.</p>
      </div>
    </div>
  </div>
</section>
