<div class="row">
  <div class="col-sm-12">

    <ul class="list-inline bb-love">
      <li>
        <a href="http://www.blackbaud.com" target="_blank">
          <i class="bbsky-char bbsky-char-logo"></i>
        </a>
      </li>
      <li>
        <i class="fa fa-lg fa-plus"></i>
      </li>
      <li>
        <a href="{{ stache.config.githubbase }}" target="_blank">
          <span class="octicon octicon-logo-github"></span>
        </a>
      </li>
    </ul>  <!-- .list-inline -->

  </div>  <!-- .col-sm-12 -->
</div>  <!-- .row -->
<div class="row">
  <div class="col-sm-12">

    <ul class="list-inline social-icons">
      <li>
        <a href="{{ stache.config.githubbase }}" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/113382459921828617974" target="_blank">
          <i class="fa fa-google-plus"></i>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/blackbaud" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/blackbaud" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="http://www.youtube.com/user/blackbaudinc" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
    </ul>  <!-- .list-inline -->

  </div>  <!-- .col-sm-12 -->
</div>  <!-- .row -->