<div swagger-ui
  input-type="{{ swagger.inputType }}"
  {{# compare swagger.inputType '===' 'json' }}
  input="{{ getDataByName swagger.input }}"
  {{/ compare }}
  {{# compare swagger.inputType '===' 'url' }}
  input="'{{ swagger.input }}'"
  {{/ compare }}
  {{# if swagger.template }}
    template-url="{{ swagger.template }}"
  {{/ if }}
></div>
