<ul class="nav-items">
  {{# each nav.links }}
    {{# is showInHeader false }} {{ else }}
      <li {{# isActiveNav ../../page.dest ../uri }}class="selected"{{/ isActiveNav }}>
        <a href="{{ ../uri }}">{{ name }}</a>
      </li>
    {{/ is }}
  {{/ each }}
</ul>
