<ul class="nav-items">
  {{# each nav.links }}
    {{# is showInHeader false }} {{ else }}
      <li {{# isActiveNav ../../page.dest ../url }}class="selected"{{/ isActiveNav }}>
        <a href="{{ ../url }}">{{ name }}</a>
      </li>
    {{/ is }}
  {{/ each }}
</ul>
