{{# hasHeadings page=this }}
  {{# eachHeading page=../this }}
    <li>
      <a href="#{{ id }}" class="smooth-scroll">
        {{ name }}
      </a>
    </li>
  {{/ eachHeading }}
{{/ hasHeadings }}
