{{# hasHeadings page=this }}
  <ul class="nav">
    {{# eachHeading page=../this }}
      <li>
        <a href="#{{ id }}" class="smooth-scroll">
          {{ name }}
        </a>
      </li>
    {{/ eachHeading }}
  </ul>
{{/ hasHeadings }}
