---
layout: base.hbs
---

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {{! Spaces, tabs and new lines cause markdown helper to fail }}
      {{#markdown}}{{> body }}{{/markdown}}
    </div>
  </div>
</div>
