/* 
* ==========================================================================
* COPYRIGHT
* ========================================================================== 
*/

  .copyright {
    background: #595c64;
    color: #949AA6;
    padding: 10px 0;
  }

  .copyright p {
    margin: 0;
  }
