<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RENXT Prototype</title>
    
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    -->
    <link rel="stylesheet" href="{{ 'assets/css/app.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ 'assets/css/hard-coded.css' | prepend: site.baseurl }}">
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body class="bb-omnibar-height-padding">
    
    {{ content }}
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="omnibar"></div>
        </div>
      </div>
    </div>
    
    {% if page.notes %}
      <button type="button" class="btn btn-primary btn-lg btn-notes" data-toggle="modal" data-target="#modal-notes">
        <i class="fa fa-lg fa-comments-o"></i>
      </button>
    
      <div class="modal fade" id="modal-notes">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Page Notes</h4>
            </div>  <!-- .modal-header -->
            <div class="modal-body">              
              <p>{{ page.notes }}</p>
            </div>  <!-- .modal-body -->
            <div class="modal-footer">
              {% if page.priority %}
                {% case page.priority %}
                  {% when 'low' %}
                    {% assign label = 'info' %}
                  {% when 'medium' %}
                    {% assign label = 'warning' %}
                  {% when 'high' %}
                    {% assign label = 'danger' %}
                {% endcase %}
                <p>Priority: <span class="label label-{{ label }}">{{ page.priority }}</span></p>
              {% endif %}
            </div>  <!-- .modal-footer -->
          </div>  <!-- .modal-content -->
        </div>  <!-- .modal-dialog -->
      </div>  <!-- .modal -->
    {% endif %}
  
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/easyXDM/2.4.17.1/easyXDM.min.js"></script>
    <script src="//signin.blackbaud.com/omnibar.js"></script>
    <script src="//blackbauddeveloperrenxtprototype.disqus.com/embed.js"></script>
    <script src="{{ 'assets/js/app.js' | prepend: site.baseurl }}"></script>
    
  </body>
</html>