---
layout: base
---

{% assign hasSidebar = false %}
{% assign hasSiblings = false %}
{% assign isSibling = false %}
{% assign hasHeadings = false %}

{% assign url_current = page.url | remove: 'index.html' | prepend: site.baseurl %}
{% assign h2 = content | split: '<h2' %}
  
{% if page.showHeadings %}
  {% capture headings %}
    {% for item in h2 %}
      {% assign parts = item | split:'</h2>' %}
      {% if parts.size == 2 %}
        {% assign hasHeadings = true %}
        {% assign href = parts[0] | replace:'id="','href="#' %}
        <li><a {{ href }}</a></li>
      {% endif %}
    {% endfor %}
  {% endcapture %}
{% endif %}

<div class="nav-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav-items">
          
          {% for parent in site.links %}
          
            {% assign url_parent = parent.url | prepend: site.baseurl %}
          
            {% if url_current == url_parent and parent.links.size > 0 %}
              {% assign hasSiblings = true %}
              {% assign url_parent_current = url_parent %}
            {% endif %}
          
            {% for child in parent.links %}
              {% assign url_child = child.url | prepend: site.baseurl %}
              {% if url_current == url_child %}
                {% assign isSibling = true %}
                {% assign url_parent_current = url_parent %}
              {% endif %}
            {% endfor %}
          
            <li {% if url_current == url_parent or url_parent == url_parent_current %} class="selected" {% endif %}>
              <a href="{{ url_parent }}">{{ parent.name }}</a>
            </li>
          
          {% endfor %}
          
        </ul>  <!-- .nav-items -->
      </div>  <!-- .col-sm-12 -->
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</div>  <!-- .nav-wrap -->

<div class="content">
  <div class="container">
    <div class="row">

      {% if page.showSidebar and (page.sidebar != '' or hasSiblings or isSibling or hasHeadings) %}
      
        {% assign hasSidebar = true %}
        <div class="col-md-3">
          <div class="sidebar">
            <ul class="nav nav-stacked nav-sidebar">
              
              {% if page.sidebar != '' %}
              
                {% if page.sidebarRelative %}
                  {% include_relative {{ page.sidebar }} %}
                {% else %}
                  {% include {{ page.sidebar }} %}
                {% endif %}
              
              {% else %}
                {% if hasSiblings or isSibling %}

                  {% for parent in site.links %}
                    {% assign url_parent = parent.url | prepend: site.baseurl %}
                    {% if url_parent_current == url_parent %}
                      {% for child in parent.links %}
                        {% assign url_child = child.url | prepend: site.baseurl %}

                        <li {% if url_current == url_child %} class="current" {% endif %}>
                          <a href="{{ child.url | prepend: site.baseurl }}">{{ child.name }}</a>

                          {% if url_current == url_child and headings != '' %}
                          <ul class="nav">
                            {{ headings }}
                          </ul>
                          {% endif %}

                        </li>

                      {% endfor %}
                    {% endif %}
                  {% endfor %}

                {% elsif hasHeadings %}

                  <!-- Ridiculous Bootstrap Scrollspy bug that required this nested linkage to function properly -->
                  <li class="hidden">
                    <a href="#top">Top</a>
                  </li>

                  {{ headings }}

                {% endif %}

                <li class="visible-on-affix">
                  <a href="#top" class="smooth-scroll">
                    <i class="fa fa-caret-square-o-up"></i>
                  </a>
                </li>
              
              {% endif %}
              
            </ul>
            
          </div>  <!-- .sidebar -->
        </div>  <!-- .col-md-3 -->

        <div class="col-md-9">
          {{ content }}
        </div>  <!-- .col-md-9 -->

      {% else %}

        <div class="col-sm-12">
          {{ content }}
        </div>

      {% endif %}
      
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</div>  <!-- .content -->

<div class="footer-meta">

  {% if page.showFeedback %}
    <div class="feedback">
      <div class="container">
        <div class="row">
          <div class="{% if hasSidebar %} col-sm-9 col-sm-offset-3 {% else %} col-sm-12 {% endif %}">
            <div class="feedback-content">
              <h3>Provide feedback for this information</h3>
              <p>Want to edit or suggest content changes?  <a href="{{ page.path | prepend: '/' | prepend: site.github }}" target="_blank">View this page</a> in our GitHub repository to get started.</p>
            </div>  <!-- .feedback-content -->
          </div>  <!-- .col-sm-12 -->
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .feedback -->
  {% endif %}
  
  {% if page.showComments %}
    <div class="comments">
      <div class="container">
        <div class="row">
          <div class="{% if hasSidebar %} col-sm-9 col-sm-offset-3 {% else %} col-sm-12 {% endif %}">
            <div id="disqus_thread"></div>
          </div>  <!-- .col-sm-12 -->
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .comments -->
  {% endif %}

</div>  <!-- .meta-footer -->