---
layout: base
showComments: false
showFeedback: false
---

{% assign url_current = page.url|remove:'index.html'|prepend: site.baseurl %}
{% assign sidebar = false %}

<div class="nav-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav-items">
          
          {% for item in site.links %}
            {% assign url_item = item.url|prepend: site.baseurl %}
            <li {% if url_current == url_item %} class="selected" {% endif %}>
              <a href="{{ url_item }}">{{ item.name }}</a>
            </li>
            {% if url_current == url_item and item.links.size > 0 %}
              {% assign sidebar = true %}
            {% endif %}
          {% endfor %}
          
        </ul>  <!-- .nav-items -->
      </div>  <!-- .col-sm-12 -->
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</div>  <!-- .nav-wrap -->

<div class="content">
  <div class="container">
    <div class="row">

      {% if sidebar %}

        <div class="col-md-3 hidden-xs hidden-sm">
          <div class="sidebar">
            
            <ul class="nav nav-pills nav-stacked nav-sidebar">
            {% for item in site.links %}
              {% assign url_item = item.url|prepend: site.baseurl %}
              {% if url_current == url_item %}
                {% for item in item.links %}
                  <li>
                    <a href="{{ item.url | prepend: site.baseurl }}">{{ item.name }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
            </ul>
            
          </div>  <!-- .sidebar -->
        </div>  <!-- .col-md-3 -->

        <div class="col-md-9">
          {{ content }}
        </div>  <!-- .col-md-9 -->

      {% else %}

        <div class="col-sm-12">
          {{ content }}
        </div>

      {% endif %}
      
    </div>  <!-- .row -->
  </div>  <!-- .container -->
</div>  <!-- .content -->

<div class="footer-meta">

  {% if page.showFeedback %}
    <div class="feedback">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="feedback-content">
              <h3>Provide feedback for this information</h3>
              <p>Want to edit or suggest content changes?  <a href="#">View this page</a> in our GitHub repository to get started.</p>
            </div>  <!-- .feedback-content -->
          </div>  <!-- .col-sm-12 -->
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .feedback -->
  {% endif %}

  {% if page.showComments %}
    <div class="comments">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="disqus_thread"></div>
          </div>  <!-- .col-sm-12 -->
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .comments -->
  {% endif %}

</div>  <!-- .meta-footer -->