<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RENXT Prototype</title>
    
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    -->
    <link rel="stylesheet" href="{{ 'assets/css/app.css' | prepend: site.baseurl }}">
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body class="bb-omnibar-height-padding">
    
    <div class="nav-wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="nav-items">
              {% for item in site.links %}
                <li>
                  <a href="{{ item.url }}">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>  <!-- .nav-items -->
          </div>  <!-- .col-sm-12 -->
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .nav-wrap -->
    
    {{ content }}
    
    <div class="footer">
      
      {% if page.showFeedback %}
        <div class="feedback">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="feedback-content">
                  <h3>Provide feedback for this information</h3>
                  <p>Want to edit or suggest content changes?  <a href="#">View this page</a> in our GitHub repository to get started.</p>
                </div>  <!-- .feedback-content -->
              </div>  <!-- .col-sm-12 -->
            </div>  <!-- .row -->
          </div>  <!-- .container -->
        </div>  <!-- .feedback -->
      {% endif %}
      
      {% if page.showComments %}
        <div class="comments">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div id="disqus_thread"></div>
              </div>  <!-- .col-sm-12 -->
            </div>  <!-- .row -->
          </div>  <!-- .container -->
        </div>  <!-- .comments -->
      {% endif %}
      
    </div>  <!-- .footer -->
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="omnibar"></div>
        </div>
      </div>
    </div>
  
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/easyXDM/2.4.17.1/easyXDM.min.js"></script>
    <script src="//signin.blackbaud.com/omnibar.js"></script>
    <script src="//blackbauddeveloperrenxtprototype.disqus.com/embed.js"></script>
    <script src="assets/js/app.js"></script>
  
    
    
  </body>
</html>