---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% include posts-meta.html post=page %}
  </header>
  
  <article class="post-content">
    {{ content }}
  </article>

</div>

<div class="post-footer">
  <ul class="pager">
    {% if page.next %}
      <li class="previous">
        <a href="{{ page.next.url | prepend: site.baseurl }}"><i class="fa fa-angle-double-left"></i> {{ page.next.title }}</a>
      </li>      
    {% endif %}
    {% if page.previous %}
      <li class="next">
        <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }} <i class="fa fa-angle-double-right"></i></a>
      </li>
    {% endif %}  
  </ul>
</div>