---
layout: base
priority: low
notes: >
  This can be any large paragraph.
  It is text though so you just have to deal with that.
---

<header class="welcome">
  <div class="text-vertical-center">
    <h1>Welcome to the Open Blackbaud</h1>
    <h2>Connect your app to the power of the NXT API.</h2>
    <ul class="list-inline">
      <li>
        <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
      </li>
      <li>
        <a href="#" class="btn btn-lg btn-default">Learn More</a>
      </li>
    </ul>
  </div>
</header>

{{ content }}