---
layout: layout-base
---

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{# if stache.config.markdown }}
          {{# markdown }}{{ body }}{{/ markdown }}
        {{ else }}
          {{ body }}
        {{/ if }}
      </div>
    </div>
  </div>
</div>
