---
layout: layout-base
---

<div class="content">
  <div class="{{ stache.config.bootstrap_container }}">
    <div class="row">
      <div class="col-sm-12">
        {{# if markdown }}
          {{# markdown }}{{ body }}{{/ markdown }}
        {{ else }}
          {{# withNewline }}{{ body }}{{/ withNewline }}
        {{/ if }}
      </div>
    </div>
  </div>
</div>
