---
layout: layout-sidebar
limit: <%= stache.config.blog_recent_limit %>
sidebar_title: Recent Posts
---

{{ include 'partial-blog-header' }}

<div class="blog-post">
  {{# markdown }}{{> body }}{{/ markdown }}
</div>

{{# if stache.config.comments }}
  {{# is comments false }} {{ else }}
  {{# raw }}
    <div class="blog-comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//{{ stache.config.comments_key }}.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
  {{/ raw }}
  {{/ is }}
{{/ if }}
